@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

/* print format */

#printSection {
  visibility: hidden;
  width: 768px;
  margin: auto;
}

.mainArea {
  height: 550px;
}

.body {
  text-align: justify;
}
h1,
h2,
h3 {
  text-align: center;
  font-size: 19px;
}

p {
  line-height: 1.2;
  font-size: 16.5px;
  text-wrap: wrap;
}

.waterMark {
  width: 80%;
  margin: auto;
  text-align: center;
  color: lightgray;
}

.bottom {
  margin-top: 300px;
}

.small {
  display: block;
  font-size: 0.8em;
}

.center {
  text-align: center;
}

.stamparea {
  width: 100%;
  height: 650px;
}

.formfooter {
  display: flex;
  justify-content: space-around;
  column-gap: 2em;
}

.leftside,
.rightside {
  width: 45%;
  text-align: left;
}

/* form design */

.form {
  width: 460px;
  margin: auto;
  padding: 20px;
  background-color: skyblue;
  border-radius: 5px;
}

.form input {
  width: 100%;
  margin-block: 0.5em;
}

.nameWithTitle {
  width: 100%;
}

.nameWithTitle #title {
  width: 12%;
}

.nameWithTitle #consumerName {
  width: 85%;
}

.formbutton {
  display: block;
  /* width: 170px; */
  padding: 10px 25px;
  margin-top: 1em;
  margin-inline: auto;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.visible {
  display: none;
}

/* Set up the page size for printing */
@media print {
  @page {
    size: A4; /* Specify A4 paper size */
    margin: 20mm; /* Adjust the margin as needed */
  }

  /* Optional: Style the content to fit A4 size */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Make sure only the print section is visible */
  body * {
    visibility: hidden;
  }
  #printSection,
  #printSection * {
    visibility: visible;
  }
  #printSection {
    position: absolute;
    top: 0;
    left: 0;
  }
}
